main {
    display: flex;
}

#gameGrid {
    border: solid black 3px;
    user-select: none;

    & .row {
        display: flex;

        & .square {
            box-sizing: border-box;
            height: 7vh;
            width: 7vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            cursor: grab;

            & .piece {
                box-sizing: border-box;
                height: inherit;
                width: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
            }

            & .dragging {
                cursor: grabbing;
                position: absolute;
                z-index: 100;
            }

            & .highlighted {
                background-color: #006eff33;
            }

            
        }

        & .selected {
            border: solid white 3px;
        }

        & .dark {
            background-color: #b58863;
        }

        & .light {
            background-color: #f0d9b5;
        }

        & .check {
            background-color: #f6826c;
        }
    }
}

#promotionScreen {
    display: none;
}

#winLoseScreen {
    display: none;
}

.active {
    display: flex !important;
}