body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 50px;
    transition: background 0.3s, color 0.3s;
}

h1 {
    margin-top: 100px;
    color: inherit;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: background 0.3s;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn-create {
    background-color: #4CAF50;
}

.btn-join {
    background-color: #008CBA;
}

.btn-mode {
    background-color: #555;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 20px;
    width: 120px;
}

.btn:hover {
    opacity: 0.8;
}

input {
    width: 180px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Mode Nuit */
.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode .container {
    background: #333;
}

.dark-mode .btn-mode {
    background-color: #777;
}